meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Gobernanza
meta(meta name="description" content="El objetivo de este segundo componente es introducir los conceptos fundamentales de Ciencia Tecnología e Innovación y brindarle al estudiante los elementos necesarios para interpretar y construir una visión de futuro para la toma de decisiones estratégicas en las diferentes organizaciones.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")