h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210001012-2. Utilizar formas innovativas y participativas de intervención y propiciar liderazgos en la región de los diversos actores a partir del Sistema ciencia, tecnología e innovación (CTei).


