include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Colciencias. 2018. Libro verde de Colciencias")

        +referenciaItem("CRUZ AGUILAR, P. L., & MEDINA VASQUEZ, J. E. (2015). Selección de los métodos para la construcción de los escenarios de futuros. Entramado, 11(Universidad Libre).", "http://dx.doi.org/10.18041/entramado.2015v11n1.21113")

        +referenciaItem("Foro Consultivo Científico y Tecnológico AC. ( 2018). Innovación transformadora: Conceptos básicos y marcos de innovación")

        +referenciaItem("Gobernación del Valle del Cauca (2018). Política Pública de Competitividad, Ciencia, Tecnología e Innovación + CTeI). Conocimiento para el Desarrollo Económico, Social y Ambiental.")

        +referenciaItem("University of Sussex - COLCIENCIAS (2018). Orientaciones para la formulación de políticas regionales de innovación transformativa en Colombia.")

     

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            